/*General*/
html {
    height: 100%;
}
.page {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 900px;
    width: 1400px;
    background-color: #9DBEBB;
}
.container {
    display: flex;
    justify-content: flex-start;
    height: 594px;
    width: 954px; 
    background-color: #FFB039;
    box-shadow: 0px 0px 32px #00000040;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: 466px;
    width: 400px;
    transform: translate(65px, 58px); 
}
.select-list {
    display: flex;
    flex-direction: column;
}


/*Specific*/
.img {
    position: absolute;
    transform: translate(342px, 52px);
}
.card.left {
    width: 609px;
    background-color: #BE0909;
}


.input-sections, .button, .labels, ::placeholder, .select {
    font-family: 'Roboto', sans-serif;
    line-height: normal;
    text-align: left;
    border-style: none;
    background-color: transparent;
    color: #FFF;
}
::placeholder, .labels, .button, .select {
    font-size: 18px;
}
.input-sections, .select, option { 
    height: 30px;
/*To-be-fixed*/    margin-top: 21px;
    border-bottom: #9DBEBB;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-indent: 10px;
    padding-bottom: 9px;
    
}
.input-sections:hover, .select-list :hover {
    background-color: #910707;
    text-shadow: 0px 0px 12px #000000d7;
    box-shadow: 0px 0px 12px #00000080;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: 0.5s;
}
.input-sections:hover {
    cursor:text;
}
input#full_name.input-sections, input#message.input-sections {
    width: 400px;
}
input#email.input-sections, select#message_regarding.select {
    width: 160px;
}
::placeholder {
    letter-spacing: 5px;
}
.select-list :hover, .select-list {
    cursor: pointer;
}
.select {  
    letter-spacing: 5px;
}
option {
    font-size: 14px;
    background-color: #910707;
}

.input-sections:focus::placeholder {
    color: transparent;
    text-shadow: none;
    transition: 0.3s;
}
.input-sections:focus:-ms-input-placeholder {
    color: transparent;
    text-shadow: none;
    transition: 0.3s;
}
.input-sections:focus::-webkit-input-placeholder {
    color: transparent;
    text-shadow: none;
    transition: 0.3s;
}
.input-sections, .labels, option {
    font-weight: 400;
}
.labels {
    transform: translate(-4px, 4px);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 5px;
}
#label_name {
    margin-bottom: 4px;
}
#label_email {
    margin-top: 16px;
    margin-bottom: 4px;
}
#label_select {
    margin-top: 25px;
    margin-bottom: 1px;
}
#label_message {
    margin-top: 15px;
    margin-bottom: 4px;
}
.labels:hover {
    background-color: #920909;
    box-shadow: 0px 0px 6px #00000027;
    transition: 0.5s;
}
.labels, .button {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button {
    min-height: 48px;
    width: 202px;
    margin-top: 56px;
    transform: translateX(99px);
    border-radius: 40px;
    font-weight: 700;
    text-align: center;
    background-color: #468189;
    box-shadow: 0px 0px 12px #00000080;
}
.button:hover {
    cursor:pointer;
    background-color: #26545a;
    transition: 0.5s;
}